body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 16vh 1fr;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.sidebar {
    background-color: #FB8B24;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 16px 8px;
}

.logo,
.nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    color: white;
}

.logo div {
    justify-self: start;
    font-size: 21px;
    font-weight: 1000;
    cursor: pointer;
}

.logo img {
    max-width: 40px;
    justify-self: center;
}

.nav {
    row-gap: 16px;
}

.nav div {
    justify-self: start;
    font-size: 16px;
    font-weight: 800;
}

.nav div:hover {
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
}

.icon {
    max-width: 20px;
    justify-self: center;
}

.header {
    display: grid;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.header-top .icon,
.header-top .avatar,
.account > div {
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
}

.search {
    gap: 16px;
}

#search-bar {
    background-color: lightgrey;
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 40vw;
    max-width: 560px;
}

.account {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.account > div {
    font-size: 16px;
    font-weight: 800;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.greetings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.greetings > img {
    grid-row: 1 / 3;
}

.greetings > div:first-of-type {
    align-self: end;
    font-size: 12px;
    font-weight: 800;
}

.greetings > div:nth-of-type(2) {
    font-size: 18px;
    font-weight: 1000;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.button-group > button {
    background-color: #FB8B24;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 16px;
    width: 86px;
    height: 32px;
    padding: 8px 16px;
}

.button-group > button:hover {
    cursor: pointer;
    opacity: 80%;
}

.avatar {
    border-radius: 50%;
}

.small {
    max-width: 32px;
}

.large {
    max-width: 56px;
}

.main-content {
    background-color: #FBF6EE;
    display: grid;
    grid-template-columns: 1fr 24vw;
    grid-template-rows: 1fr 1fr;
}

.main-content > div {
    padding: 16px 24px;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-rows: minmax(180px, 1fr);
    column-gap: 32px;
}

.projects > h1 {
    grid-column: 1 / 3;
}

.card {
    border-left: 8px solid #FB8B24;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
}

.text > div {
    font-size: 13px;
    color: grey;
}

.text > h2 {
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.icon-container > .icon:hover {
    cursor: pointer;
    background-color: #FBF6EE;
    border-radius: 50%;
}

.card,
.announcement-container,
.trending-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px lightgray;
}

.announcement-container,
.trending-container {
    padding: 32px;
}

.announcement-container > div {
    font-size: 11px;
    color: grey;
}

.announcement-container > hr {
    color: lightgrey;
    margin-top: 16px;
    margin-bottom: 16px;
}

.trending-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    padding: 4px;
}

.trending-item > img {
    grid-row: 1 / 3;
    justify-self: center;
}

.trending-item > div {
    font-size: 12px;
    justify-self: start;
}

.trending-item:hover {
    cursor: pointer;
    background-color: #FBF6EE;
    border-radius: 5%;
}

.trending-item > div:first-of-type {
    font-weight: 700;
}

.trending-item > div:nth-of-type(2) {
    color: grey;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 16px;
    font-size: 18px;
}

h2 {
    margin-bottom: 8px;
    font-size: 15px;
}

h3 {
    margin-bottom: 4px;
    font-size: 13px;
}